.beforeLoginFooter {
    color: white;
    margin: 20px auto;
    max-width: 705px;

    .container {

        .row {
            .common-cls {
                border-right: 1px solid #FFFFFF75;
                text-align: center;
            }
        }
    }
}