.loginPage {
    color: white;

    .container {


        .outsideWrapper {
            
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;

            .wrapper {

                max-width: 80%;
                margin-top: 50px;

                h2 {

                    span {
                        color: #BF7C24;
                    }
                }

                p {
                    color: rgb(255, 255, 255, 0.6);
                }
            }

            .inside-con {
               
                display: flex;
                flex-direction: column;

                label {
                    text-align: left;
                }

                input {
                    padding: 2px 10px;
                    outline: none;
                }

                p {
                    text-align: right;
                }

            }
        }


    }
}