.loginPage {
    color: white;

    .container {


        .outsideWrapper {

            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;

            .wrapper {

                max-width: 80%;
                margin-top: 50px;

                h2 {
                    span {
                        color: #BF7C24;
                    }
                }

                p {
                    color: rgb(255, 255, 255, 0.6);
                }
            }

        }

        .loginWrapper {
            display: flex;
            justify-content: center;
            margin: 5px 0px;

            .insideLoginWrapper {
                background: rgb(255, 255, 255, 0.1);
                border-radius: 20px;
                width: 500px;
                text-align: center;

                h2 {
                    margin: 37px 0px 20px 0px;
                }

                p {
                    margin: 20px 0px 36px 0px;
                }

                .to-center {
                    width: 352px;
                    margin: auto;
                    margin-bottom: 40px;


                    .inputLoginWrapper {

                        margin-bottom: 16px;

                        label {
                            display: block;
                            width: 100%;
                            text-align: left;
                        }

                        input {
                            color: white;
                            display: block;
                            width: 100%;
                            padding: 8px;
                            border: 1px solid #FFFFFF3D;
                            background: transparent;
                            border-radius: 6px;

                            &:focus {
                                outline: none;
                            }
                        }
                    }

                    .forgotPass {
                        display: flex;
                        justify-content: end;
                        margin-top: -15px;
                        margin-bottom: 30px;

                        p {
                            margin: 0;
                            padding: 0;
                        }
                    }

                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
}